<div class="container">
	<h1>I CAN COOK! </h1>
	<h3>Lets cook me some dinner</h3>

	<form id="request">
	  Name a word and we'll turn it into a meal:<br>
	  <input id="query" type="text" name="food_word"><br>
	  <input type="submit" value="Submit">
	</form>
</div>